{:paths ["src" "src/cljs"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.apache.commons/commons-lang3 {:mvn/version "3.12.0"}
        no.cjohansen/replicant {:git/url "https://github.com/cjohansen/replicant.git"
                                :sha "b95f223e3351350048ff2f8e9177f83b0615db5b"}}
 :aliases {:run {:main-opts ["-m" "framed.core"]}
           :dev {:extra-paths ["resources"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}}}}
